body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header::after{
    content: '';
    clear: both;
    display: block;
}
.header{
    background: #3E5C9A;
    padding: 7px 0;
}
.container{
    width: 65%;
    margin: auto;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    width: 180px;
    margin-top: 22px;
}

.login{
    width: 70%;
    float: left;
    color: white;

}
.login form{
    float: right;
}
.login label,.login input{
    display: block;

}
.login .email,.login .password,.login .submit{
    float: left;
    margin-right: 15px;

}
.login label{
    font-size: 13px;
    margin-bottom: 4px;

}
.login .submit{
    margin-right: 0;
}
.login input[type="text"],.login input[type="password"]{
    border: 1px solid black;
    font-size: 14px;
    padding: 2px 4px;
}
.login .password a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}
.login .password a:hover{
    text-decoration: underline;
}
.login input[type="submit"]
{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    padding: 3px 8px;
    margin-top: 20px;
}
/*end header area*/



.signup-area{
    background: linear-gradient(#ffffff,#D4D9E9);
    padding:20px 0;



}
.signup-area::after{
    content: '';
    clear:both;
    display: block;

}
.left-area{
    width: 55%;
    float: left;

}
.left-area p{
    font-size: 20px;
    width:90%;

}
.right-area{
    width: 45%;
    float: left;


}
.right-area h2{
    font-size:33px ;
    margin: 0;


}
.right-area h4{
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;

}
.right-area input[type="text"],
.right-area input[type="password"]{
    width:100%;
    box-sizing: border-box;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px 0;
}
.full-name{
    overflow: hidden;
}
.first-name{
    width: 48%;
    float: left;
    margin-right: 4%;

}
.surname{
    width: 48% ;
    float: left;
}
.birthday{
    overflow: hidden;
}
.birthday h4{
    margin-top:0;
    margin-bottom:5px;
}
.birth-date{
    overflow: hidden;
    float:left;
    margin-right: 10px;
    width: 210px;

}
.birth-date select{
    border: 1px solid #ccc;
    padding: 5px;
    float:left;

}
.birth-link{
    float: left;
    width: 180px;
}
.birth-link a{
    font-size: 13px;
    display: block;
    line-height: 1.1;
    text-decoration: none;
    color: #365899;
}
.birth-link a:hover{
    text-decoration: underline;
}
.gender{
    margin: 10px 0;
}
.gender label{
    font-size: 20px;
    color:#1d2129;
    font-weight: bold;


}
.text-box  {
    margin-bottom: 20px;
}
.text-box p{
    font-size: 13px;
    color: #777;
    width: 85%;
}
.text-box a{
    text-decoration: none;
    color:#365899;
}
.text-box a:hover{
    text-decoration: underline;
}
.btn{
    margin-bottom: 10px;
}
.btn input{
    background: linear-gradient(#67ae55,#578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-width: 1px;
    border-style: solid;
    padding: 7px 14px;
    min-width: 194px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    transition: 0.5s;
}
.btn input:hover{
    background: linear-gradient(#578843,#67ae55);
    cursor: pointer;
}
.business{
    font-weight: bold;
    color:#666;
}
.business a{
    text-decoration: none;
    color:#365899;

}
.business a:hover{
    text-decoration: underline;
}

/*footer area start*/
.footer-area{
    padding: 20px 0;

}
.footer-area ul{
    margin:0;
    padding: 0;
}
.footer-area li{
    display: inline;
}
.footer-area ul li a {
    text-decoration: none;
    font-size: 13px;
}
.footer-area .top ul li{
    margin-right: 5px;
}
.footer-area .middle ul li{
    margin-right: 10px;
}
.footer-area hr{
    border:0;
    border-bottom: 1px solid #d4d4d4;
}
.footer-area .bottom{
    margin-top: 20px;
}






